editor {
  position: relative;
  white-space: pre;
  overflow: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

editor > editorCursor {
  display: none;
  position: absolute;
  border-left: 2px solid slateblue;
  opacity: .75;
}

editor:focus editorCursor {
  display: inline-block;
}

